
page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}




.glyphicon.glyphicon-volume-up{
  font-size: 45px;
}
.about_screen_content {
background: #0e0e0e; 
background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 100%, #7d7e7d 100%); 
background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%); 
background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); 
}
.pin{
   background: transparent;
   color: white;
  font-size:50px;
}
.rang_scroll{
   background: transparent;
   color: white;
   border: none !important;
}
.next_btn {
   font-size: 30px;
  border-radius: 50px;
    width: 60%;
    left: 35%;
    top: 80%;
    position: absolute;
    background-color:rgb(119, 116, 0)
}

.rang_lable{
  background: transparent;
    color: wheat;
    border: none !important;
    left: 70%;
}